*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    overflow: hidden;
}


.title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    z-index: 999;
    flex-direction: column;
    font-size: 20px; 
}


.subtitle{
    margin-top: 5px;
}

.hide{
    display: none;
}

.birdegg{
    --bird-top: -1000;
    --bird-size: 60px;
    position: absolute;
    background-color: hsl(50, 90%, 60%);
    width: var(--bird-size);
    height: var(--bird-size);
    left: var(--bird-size);
    top: calc(var(--bird-top) * 1px);
    border-radius: 50%;
}



.pipe{ 
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(var(--pipe-width) * 1px);
    left: calc(var(--pipe-left) * 1px);
}

.pipe > .segment{
    position: absolute;
    width: 100%;
    background: rgb(47, 114, 47);
}

.pipe > .top{
    top: 0;
    bottom: calc(var(--hole-top) * 1px);
}

.pipe > .bottom{
    bottom: 0;
    top: calc(100vh - (var(--hole-top) * 1px) + calc(var(--hole-height) * 1px));
}
